
{% extends "../Base/BasePanel.html" %}
{% load staticfiles %}
{% block title %}
  listado de Collaborator
{% endblock title %}

<script type="text/javascript">
       $(document).ready(function () {
          $('.modal').on({ 
              'show.bs.modal': function() {
                  var idx = $('.modal:visible').length;
                  $(this).css('z-index', 1040 + (10 * idx));
              },
              'shown.bs.modal': function() {
                  var idx = ($('.modal:visible').length) - 1; // raise backdrop after animation.
                  $('.modal-backdrop').not('.stacked')
                  .css('z-index', 1039 + (10 * idx))
                  .addClass('stacked');
              },
              'hidden.bs.modal': function() {
                  if ($('.modal:visible').length > 0) {
                      // restore the modal-open class to the body element, so that scrolling works
                      // properly after de-stacking a modal.
                      setTimeout(function() {
                          $(document.body).addClass('modal-open');
                      }, 0);
                  }
              }
          });
        });
    </script>
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Listado De Collaborator
        <small>Detalles </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li><a href="#">Listado De Collaborator  </a></li>
        <li class="active">Detalles </li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
           <div class="box">
            
            <!-- /.box-header -->
            <div class="box-body" >
            <div class="col-md-4 col-sm-6 col-xs-12">
            <!-- box info -->
                  <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-bank  "></i></span>

                    <div class="info-box-content">
                         <span class="info-box-text">INGRESOS HOY</span>
                       {% if ingresos_hoy.total == None %}
                            0$
                            {% else %}
                        
                             <span class="info-box-number">{{ingresos_hoy.total}}<strong>$</strong></span>
                            
                          {% endif %}
                     </div>
              <!-- /.info-box-content -->
                </div>
            <!-- /.info-box -->
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
            <!-- box info -->
                  <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="fa fa-users"></i></span>

                    <div class="info-box-content">
                         <span class="info-box-text">CITAS HOY </span>
                       {% if turnos_hoy == None %}
                            0
                            {% else %}
                        
                             <span class="info-box-number">{{turnos_hoy}}</span>
                            
                          {% endif %}
                     </div>
              <!-- /.info-box-content -->
                </div>
          <!-- /.info-box -->
            </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
            <!-- box info -->
                  <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="fa  fa-minus"></i></span>

                    <div class="info-box-content">
                         <span class="info-box-text">EGRESOS HOY </span>
                       {% if egresos_hoy.total == None %}
                            0$
                            {% else %}
                        
                             <span class="info-box-number">{{egresos_hoy.total}}<strong>$</strong></span>
                            
                          {% endif %}
                     </div>
              <!-- /.info-box-content -->
                </div>
            <!-- /.info-box -->
              </div>
              


            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
      







          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Lista de Colaboradores </h3>
            </div>
            <div style="background-color: rgba(154, 153, 158, 0.09);" class="box-body">
            <h5 class="box-title">Filtrar por Fecha </h5>
              <div class="form-group col-md-5">
                    <label for="exampleInputEmail1">DESDE</label>
                    <input type="text" id="datepicker_from" class="form-control"  placeholder="SELECCIONE LA FECHA DE INICIO ">
                </div>
                <div class="form-group col-md-5">
                    <label for="exampleInputEmail1">HASTA</label>
                    <input type="text" id="datepicker_to" class="form-control"  placeholder="SELECCIONE LA FECHA FINAL">
                </div>
                <div style="margin-top:1.8em;" class="form-group col-md-2">
                    <button class="btn btn-block btn-primary" id="btn-reload"> FILTRAR </button>
                </div>
              
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>FOTO</th>
                  <th>NOMBRE</th>
                  <th>CUIT</th>
                  <th>TELEFONO</th>
                  <th>DIRECCION</th>
                  <th>TIPO</th>
                  <th>TIPO <br> 
                  DE COMISION</th>
                  <th>COMISION</th>
                  <th>ACCIONES</th>
                </tr>
                </thead>
                <tbody>
                
               {% for colaborador in colaboradores  %}
                   <tr>
                      <td><a href="{% url "Colaboradores:ColaboradorProfile" colaborador.user.id %}">{{colaborador.id}}</a></td>
                      <td>
                        <div class="product-img">
                           <img style="height:60px; width:60px;" class="img-circle" src="http://estiloonline.pythonanywhere.com/media/{{colaborador.user.image}}" alt="User Avatar">
                        </div>
                      </td>
                      <td>
                            <a href="{% url "Colaboradores:ColaboradorProfile" colaborador.user.id %}" class="product-title">{{colaborador.user.nameUser}}</a>
                      </td>
                      <td>
                            <a href="#" class="product-title">{{colaborador.cuid}}</a>
                      </td>
                      <td>{{colaborador.phoneNumberColl}}</td>
                      <td>
                            <span class="product-description">
                               {{colaborador.addresColl}}

                            </span>
                      </td>

                      <td>
                            <span class="label label-warning">{{colaborador.typeCollaborador}}</span>
                      </td>
                      <td>
                            <span class="label label-warning">{{colaborador.Typecomision}}</span>
                      </td>

          
                      
                      {% if colaborador.Typecomision == 'Porcentaje'  %}
                          <td>
                                <span class="label label-warning">{{colaborador.comision}}%</span>
                          </td>
                        {% elif colaborador.Typecomision == 'Monto' %}
                            <td>
                                    <span class="label label-warning">{{colaborador.comision}}$</span>
                              </td>
                      {% endif %}
                     
                      <td>
                          <a href="{% url "Colaboradores:EditarColaborador" colaborador.id %}" class="label label-success">EDITAR</a>
                          <button class="label btn" type="button" value="{{colaborador.id }}" onclick="EstadoDeCuenta(this.value);" style="background-color:#39CCCC;" class="label"  data-toggle="modal" data-target="#mvContacto">CUENTA</button>
                          <a href="{% url "Colaboradores:EliminarColaborador" colaborador.id %}" class="label label-danger">ELIMINAR</a>
                        </td>
                    
                    </tr>
                 
               {% endfor %}
                  
                
                
                



                
                </tbody>
                <tfoot>
                <tr>
                  <th>ID</th>
                  <th>FOTO</th>
                  <th>NOMBRE</th>
                  <th>CUIT</th>
                  <th>TELEFONO</th>
                  <th>DIRECCION</th>
                  <th>TIPO</th>
                  <th>TIPO <br> 
                  DE COMISION</th>
                  <th>COMISION</th>
                  <th>ACCIONES</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>


    <div class="container">
                <div class="modal fade" id="mvContacto" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal Content -->
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close btn-lg" data-dismiss="modal" style="background-color:red; color:white; margin:15px; padding:2px 8px 6px 8px;">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Cerrar</span>
                                </button>
                                <h3 class="text-info" id="User"></h3>
                                <h2 class="pull-right" style="color:#176ee8;">Monto Acumulado: <strong id="MontoAcumulado"></strong></h2>
                            </div>
                            <!-- END Modal Header -->
                            
                            <!-- Modal Body -->
                            <div class="modal-body">
                                <!-- Breadcrumb -->
                                
                                <!-- END Breadcrumb -->
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-8">
                                             <div class="row">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">SERVICIOS REALIZADOS</div>
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover">
                                                            <tbody style="cursor:pointer;" id="tabladatos">
                                                                
                                                            </tbody>
                                                            <thead class="text-primary">
                                                                <th style="text-align: center;">Fecha</th>
                                                                <th style="text-align: center;">Cliente</th>
                                                                <th style="text-align: center;">Monto Cobrado</th>
                                                                
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">PAGOS REALIZADOS</div>
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover">
                                                            <tbody style="cursor:pointer;" id="tablapagos">
                                                                
                                                            </tbody>
                                                            <thead class="text-primary">
                                                                <th style="text-align: center;">Fecha</th>
                                                                <th style="text-align: center;">MONTO</th>
                                                                <th style="text-align: center;">TIPO DE PAGO</th>
                                                                
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        </div>
                                        <div class="col-md-4">
                                            <br ><br >
                                            <div class="panel panel-primary">
                                                <div class="panel-heading"> Avatar </div>
                                                <div class="panel-body" id="AvatarUSuario">
                                                    
                                                </div>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-offset-10">
                                    <button type="button" data-dismiss="modal" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cerrar Contacto</button>
                                </div>
                            </div>
                            
                           
                        </div>    
                    </div>                        
                </div>
            </div>



    <div class="box-body" >
          {% if user.is_authenticated and user.is_staff == True and user.is_superuser == True%}
            <div class="col-sm-12">
              <a href="{% url "Colaboradores:SimpleRegister" %}" type="button" class="btn btn-block btn-info">Nuevo Collaborator</a>
            </div>
           {% endif %}
           
    </div>
    <!-- /.content -->
  </div>

  
{% endblock content %}


{% block scripts %}
  <!-- jQuery 2.2.3 -->
<script src="{% static "plugins/jQuery/jquery-2.2.3.min.js" %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<!-- SlimScroll -->
<!-- jQuery 2.2.3 -->
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Slimscroll -->
<script src="{% static "plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
<!-- FastClick -->
<script src="{% static "plugins/fastclick/fastclick.js" %}"></script>
<!-- AdminLTE App -->
<script src="{% static "dist/js/app.min.js" %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static "dist/js/demo.js" %}"></script>
<!-- fullCalendar 2.2.5 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="{% static "plugins/fullcalendar/fullcalendar.min.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap-clockpicker.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bootstrap/js/highlight.min.js" %}"></script>
<!-- Page specific script -->
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap-clockpicker.min.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap-datepicker.adminlte.min.js" %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.js" data-semver="1.9.4" data-require="datatables@*"></script>
<script src="{% static "bootstrap/js/filtrado.js" %}"></script>

<!-- page script -->
<script>
  
  function EstadoDeCuenta(id) {



      $.ajax({
        url: '/colaboradores/Consulta/colaborador/detalles/de/monto',
        data: {
          'id': id,
          
      },
      dataType: 'json',
      success: function (data) {
          if (data) {
            var miguel = JSON.parse(data.reservas)
            var pagos = JSON.parse(data.pagos_realizados)
          


          var cuerpoHtml = "";
          var HtmlPago = "";

          for (var i = 0 ; i < miguel.length ; i++) {
             cuerpoHtml += '<tr style="text-align: center;">'+
            '<td value="'+miguel[i].fields.dateTurn+'">'+miguel[i].fields.dateTurn+'</td>'+
            '<td value="'+miguel[i].fields.nombre+'">'+miguel[i].fields.nombre+'</td>'+
            '<td value="'+miguel[i].fields.montoAPagar+'">$'+miguel[i].fields.montoAPagar+'</td>'+
            '</tr>';
    }

    for (var i = 0 ; i < pagos.length ; i++) {
             HtmlPago += '<tr style="text-align: center;">'+
            '<td value="'+pagos[i].fields.dateCreate+'">'+pagos[i].fields.dateCreate+'</td>'+
            '<td value="'+pagos[i].fields.monto+'">$'+pagos[i].fields.monto+'</td>'+
            '<td value="'+pagos[i].fields.descripcion+'">'+pagos[i].fields.descripcion+'</td>'+
            '</tr>';
    }


    var monto = '$'+data.monto+''+'<br>'+'<button class="label btn"'+
                  'type="button" id="MiBotonDePago"'+ 
                  'value="'+data.id+'" onclick="PagoDeColaboradores('+
                  'this.value);" style="background-color:#39CCCC;'+
                  'float:right; margin-top:0.5em;"'+
                  'class="'+
                  'label"  data-toggle="modal" data-target="#mvContacto">'+
                  'PAGAR CUENTA</button>';
    var usuario = data.nombre;
    var imagen = '<img style="width: 100%;height: auto;"'+
      'src="http://localhost:8000/media/'+data.imagen+'" alt="">';
    if(data.monto == 0 ){
      $('#MiBotonDePago').addClass('hidden');
    }
    else{
      $('#MiBotonDePago').removeClass('hidden');
    }
    $('#User').html(usuario);
    $('#MontoAcumulado').html(monto)
    $('#AvatarUSuario').html(imagen);
    $('#tabladatos').html(cuerpoHtml);
    $('#tablapagos').html(HtmlPago);
    
        }
        else{
         console.log('nada mal');
        }

    }
});


    
  }







   function PagoDeColaboradores(id_colaborador) {
    var myArrayOfThings = [];
    {% for turnos in formas_de_pago  %}
       myArrayOfThings.push( { id: {{turnos.id}}, name: '{{turnos.nameFormasDePago}}' });
    {% endfor %}
    var options = {};
    $.map(myArrayOfThings,function(o,query) {options[o.id] = o.name;});
      swal.setDefaults({
          input: 'text',
          confirmButtonText: 'Siguiente &rarr;',
          showCancelButton: true,
          progressSteps: ['1', '2',]
        })
        var steps = [
        {
            title: 'Seleccione un metodo de pago',
            input: 'select',
            inputOptions: options,
            inputPlaceholder: 'metodos de pago',
          },
          {
            title: 'Ingrese el Monto a Cargar',
            text: 'Monto'
          },

          
        ]

        swal.queue(steps).then(function (result) {
          id_metodo_pago = parseFloat(result[0]);
          id_monto       = parseFloat(result[1]);
               swal.resetDefaults()
                $.ajax({
                    url: '/Caja/Egreso/Otro/Nuevo/Pago/Colaborador',
                    data: {
                      'id_colaborador':id_colaborador,
                      'id_metodo_pago': id_metodo_pago,
                      'id_monto':id_monto,
                  },
                  dataType: 'json',
                  success: function (status) {
                     swal({
                        title: 'Hemos Cargado de manera exitosa su pago !',
                        confirmButtonText: 'Aceptar!'
                      })
                     location.reload(); 
                }
            });

        }, function () {
          swal.resetDefaults()
        })
  }
</script>
{% endblock scripts %}